.Home-background {
  border-style: solid;
  border-width: 24px;
  border-color: #acd4ad;
  background-color: #acd4ad;
  text-align: center;
  height: 100%;
}

.Home-introduction {
  padding: 50px;
  font-family: Papyrus;
  color:  #008040;
}

.Home-plantIconContainer {
  padding: 0 35%;
}

.Home-plantIcon {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  border-radius: 100%;
  display: block;
  background-size: cover;
  background-image: url("../constants/RepresentationAvatarImages/Representation.png");
}

.Home-profileLink {
  font-family: Papyrus;
  color: #acd4ad;
  font-size: 24px;
}

.profileButton {
  margin-top: 20px;
  padding: 20px;
  background-color:  #008040;
}
