.container {
	flex: 1;
	background-color: "rgba(0,0,0,.6)";
}

.itemCatalogWrapper {
	background-color: #FFF0E6;
	width: 80%;
	height: calc(width * 0.8);
	border: solid 4px white;
	border-radius: 20%
}

.displayImageInside {
	margin-left: auto;
	margin-right: auto;
}

.interactionSection {
	font-size: 12px;
	text-align: center;
}