.container {
	flex: 1;
	background-color: "rgba(0,0,0,.6)";
}

.itemCatalogWrapper {
	background-color: #FFF0E6;
	width: 80%;
	/* height: calc(width * 0.8); */
	height: calc(100vw * 0.135);
	border: solid 4px white;
	border-radius: 20%
}

.displayImageInside {
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 12px;
}

.interactionSection {
	font-size: 12px;
	text-align: center;
}