.parentWrapper {
	height: 100%;
  width: 100%;
  border: 1px solid white;
	background-color: #AAFFD2;
	border-radius: 10px;
	text-align: center;
}

.currencyLabel {
	margin: auto;
	color: #008040;
	margin-top: 12px;
}

.parent {
	display: flex;
  flex-wrap: wrap;
	margin: 5% 5%;
} 

.child {
	display: inline;
	/* flex-grow: 1; */
	width: calc(100% * (1/4));
	height: 200px;
}