.carouselRepresentation {
  display: table;
  margin: 0 auto;
}

.pair-popup-holder {
  text-align: center;
}

.garden-holder {
  /* background-image: url("/client/src/components/constants/BackgroundImages/Garden1.png"); */
  height: 100vh;
  width: auto;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
}
.carouselDiv {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.no-friends {
  text-align: center;
  padding-top: 10%;
  font-size: 36px;
  color: #008040;
}

.notLoggedIn {
  background-color: #e5fee6;
  text-align: center;
  padding-top: 10%;
  font-size: 36px;
  color: #008040;
  height: 100vh;
}

.avatar-holder {
  margin: auto;
  text-align: center;
  margin-top: 24px;
}

.help-button-div3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}