.carouselRepresentation {
	display: table;
	margin: 0 auto;
}

.garden-holder {
	background-image: url("/client/src/components/constants/BackgroundImages/Garden1.png");
	background-size: 100%;
	height: 100vh;
	background-repeat: no-repeat;
}
.carouselDiv {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.no-friends {
	text-align: center;
	padding-top: 10%;  
	font-size: 36px;
	color: #008040;
}

.avatar-holder {
	margin: auto;
	text-align: center;
	margin-top: 24px;
}