.NewFriendForm-form {
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  max-width: 400px;
  height: 500px;
  padding: 5px;
}
