.NewFriendForm-form {
  padding: 20px;
  padding-top: 10px;
}

.urmom-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.urmom-popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  max-width: 400px;
  height: 500px;
  padding: 5px;
}

.new-text {
  color: #008040;
  margin: 12px;
  font-size: 14px;
}

.new-text2 {
  color: #008040;
  margin: 0px;
  font-size: 14px;
}

.submit-button2 {
  appearance: button;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #008040;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 25%;
}

.submit-button2:main,
.submit-button2:focus {
  user-select: auto;
}

.submit-button2:hover:not(:disabled) {
  background-color: #acd4ad;
}

.submit-button2:disabled {
  cursor: auto;
}
