.add-friend-button {
    appearance: button;
    background-color: white;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #008040;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 4px;
    margin-top: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 40%;
  }
  
  .add-friend-button:main,
  .add-friend-button:focus {
    user-select: auto;
  }
  
  .add-friend-button:hover:not(:disabled) {
    background-color: #acd4ad;
}
  
  .add-friend-button:disabled {
    cursor: auto;
  }

  .add-friend-container {
      margin: auto;
      text-align: center;
      margin-bottom: 18px;
  }