.container {
	display: flex;
	color: #008040;
}

.sideColumn {
	width: 100%;
}

.representationStuffCentered {
	margin: auto;
	margin-left: auto;
	margin-right: auto;
}

.middleColumn {
	width: 50%;
}


.shop-button {
	color: #008040;
	background-color: white;
	width: 100%;
	border-radius: 16px;
	margin: auto;
	text-align: center;
}

.shop-button:hover {
	color: white;
	cursor: pointer;
	background-color: #008040;
}

.name-avatar-container {
	margin: auto;
	text-align: center;
	margin-bottom: 12px;
}

.names {
	color: #008040;
}

.avatars-plant {
	display: flex;
	flex-direction: row;
}

.my-avatar-container {
	/* flex-grow: 1; */
	width: 30%;
}

.my-representation-container {
	width: 40%;
}

.ant-btn {
	background-color: #008040;
	border-color: white;
}

.ant-btn:hover {
	background-color: #acd4ad !important;
}