.modal {
	font-size: 12px;
}

.modal>.header {
	width: 100%;
	border-bottom: 1px solid white;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}

.modal>.content {
	/* width: 100%; */
	padding: 10px 5px;
	width: 80%;
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal>.actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
}
button.close {
  background-color: #E3FFF0 !important;
  border: 2px solid white !important;
  color: #008040 !important;
}

.modal>.close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.detail-button {
    appearance: button;
    background-color: white;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #008040;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 4px;
    margin-top: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 95%;
  }
  
  .detail-button:main,
  .detail-button:focus {
    user-select: auto;
  }
  
  .detail-button:hover:not(:disabled) {
    background-color: #acd4ad;
}
  
  .detail-button:disabled {
    cursor: auto;
  }

  .detail-container {
      margin: auto;
      text-align: center;
      margin-bottom: 18px;
  }

  .popup-content {
    padding: 0px !important
  }

  .pair-interaction-header {
    color: #008040;
    text-align: center;
    font-size: 36px;
  }