.Shop-background {
  background-color: #acd4ad;
  text-align: center;
  height: 700px;
  padding: 24px;
  background-image: url("/client/src/components/constants/BackgroundImages/shopbackground.png");
}

.space {
  height: 20px;
}

.Collapsible {
  font-size: 24px;
}

.photo {
  width: 100px;
}

.photo2 {
  width: 400px;
}

.shop {
  height: 350px;
}

.shop2 {
  height: 300px;
  overflow-y: scroll;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.shop-button {
  color: #008040;
  background-color: white;
  width: 100%;
  border-radius: 16px;
  margin: auto;
}

.shop-button:hover {
  color: white;
  cursor: pointer;
  background-color: #008040;
}

.log-in {
  text-align: center;
  padding-top: 10%;
  font-size: 36px;
  color: #008040;
}