@font-face {
  font-family: "Mali";
  font-style: normal;
  font-weight: 400;
  src: url("./../Mali-Regular.ttf");
}

.EditProfile-button {
  background-color: rgb(167, 216, 167);
}

.EditProfile-header {
}

.EditProfile-background {
  background-color: rgb(167, 216, 167);
}

.EditProfile-close {
}

.EditProfile-content {
  flex-direction: column;
}

.EditProfile-actions {
}

.EditProfile-button {
  appearance: button;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #008040;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 4px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 40%;
}

.EditProfile-button:main,
.EditProfile-button:focus {
  user-select: auto;
}

.EditProfile-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.EditProfile-button:disabled {
  cursor: auto;
}

.change-name {
  color: #008040;
  font-size: 24px;
  margin-bottom: 12px;
}

.submit-button {
  appearance: button;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #008040;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 4px;
  margin-top: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.submit-button:main,
.submit-button:focus {
  user-select: auto;
}

.submit-button:hover:not(:disabled) {
  background-color: #acd4ad;
}

.submit-button:disabled {
  cursor: auto;
}
