.EditProfile-button {
  background-color: rgb(167, 216, 167);
}

.EditProfile-header {
}

.EditProfile-background {
  background-color: rgb(167, 216, 167);
}

.EditProfile-close {
}

.EditProfile-content {
}

.EditProfile-actions {
}

.EditProfile-button {
  appearance: button;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: rgb(167, 216, 167);
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 4px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 40%;
}

.EditProfile-button:main,
.EditProfile-button:focus {
  user-select: auto;
}

.EditProfile-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.EditProfile-button:disabled {
  cursor: auto;
}