.Profile-avatarContainer {
  padding-top: 5vh;
}

.Profile-leftColumn {
  width: 25%;
  margin-left: 5%;
}

.Profile-rightColumn {
  width: 30%;
}

.Profile-centerColumn {
  width: 40%;
}

.Profile-container {
  border: none;
  text-align: center;
  background-image: url("/client/src/components/constants/BackgroundImages/ProfileBackground.png");
  height: 100vh;
  width: auto;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}

.Profile-notLoggedIn {
  text-align: center;
  padding-top: 10%;
  font-size: 36px;
  color: #008040;
}

.Profile-username {
  color: #008040;
  font-size: 36px;
}

.friendCodeBox {
  border-radius: 10px;
  border: solid #008040 3px;
  color: #008040;
  width: 50%;
  margin: auto;
  background-color: #fff0e6;
  padding-top: 4px;
}