.Profile-avatarContainer {
  padding-top: 5vh;
}

.Profile-container {
  border: none;
  text-align: center;
  background-image: url("/client/src/components/constants/BackgroundImages/ProfileBackground.png");
  height: 100%;
  width: auto;
  background-position: center;
  background-size: cover;
}

.Profile-notLoggedIn {
  text-align: center;
  padding-top: 10%;
  font-size: 36px;
  color: #008040;
}

.Profile-username {
  color: #008040;
  font-size: 36px;
}