.Profile-avatarContainer {
  padding-top: 10%;
}

.Profile-container {
  border: none;
  text-align: center;
  background-image: url("./ProfileBackground.jpg");
  height: 100%;
  width: auto;
  background-position: center;
  background-size: cover;
}

.Profile-notLoggedIn {
  text-align: center;
  padding-top: 10%;
}
