.App-container {
  margin: 0px;
  font-family: "Mali", cursive;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.Router {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

div[role="group"][tabindex] {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
